<h1>Airbnb Listing</h1>

<% if @listings.any? %>
	<% @listings.each do |listing| %>
		<%= link_to listing_path(listing) do %>
		<br>
		<li><%= listing.title %></li>
		<%end%>
	<%end%>
<%else%>
	<p>No listings. </p>
<%end%>
<br><br>

<button><%= link_to "Add Listing", new_listing_path(@listings)%></button>
<br><br>
