<% if @listings.any? %>
	<% @listings.each do |listing| %>
		<%= link_to listing_path(listing) do %>
		<%= listing.title %>
		<%end%>
	<%end%>
<%else%>
	<p>No listings. </p>
<%end%>

<%= link_to 'New Listing', new_listing_path(@listings)%>